.clickme{
    background-color: rgb(104, 168, 39);
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.clickme_container{
    height: 25%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(176, 194, 194);
    border-radius: 20px;
    box-shadow: 0 0 5px 10px red inset ;
}

button{
    margin: 20px;
    color: blue;
    background-color: coral;
    border: 2px solid gray;
    border-radius: 5px;
    padding:10px;
    cursor: pointer;
}

